@import 'mapa2.css';
.tabulka tspan, .legenda {
	animation-name: none;
	}
/* 1971 */
 .zkusebni_trat_c, .vlecka_c {
	-webkit-animation: historie 1s 0s both;
	animation: historie 1s 0s both;
	} 
/* 1974 */
 .depo_kacerov, .ic.ic, #oddelovac_ztc, #pismenoc1 {
	-webkit-animation: historie 1s 2.5s both;
	animation: historie 1s 2.5s both;
	} 
/* VII.1978 */
 .ia.ia , .spojka.a, #path4219, #path4215, #pismenoa1 {
	-webkit-animation: historie 1s 5s both;
	animation: historie 1s 5s both;
	} 
/* XII.1978 */
 .ic7 {
	-webkit-animation: historie 1s 7.5s both;
	animation: historie 1s 7.5s both;
	} 
/* XI.1980 */
 .iic {
	-webkit-animation: historie 1s 10s both;
	animation: historie 1s 10s both;
	} 
/* XII.1980 */
 .iia {
	-webkit-animation: historie 1s 12.5s both;
	animation: historie 1s 12.5s both;
	} 
/* 1984 */
 .iiic {
	-webkit-animation: historie 1s 15s both;
	animation: historie 1s 15s both;
	} 
/* X.1985 */
 .sh2, .sh2.obratiste, .depo_hostivar, .zkusebni_trat_a, #pismenoa2 {
	-webkit-animation: historie 1s 17.5s both;
	animation: historie 1s 17.5s both;
	} 
/* XII.1985 */
 .ib, #oddelovac_ms1, #oddelovac_ms2, #oddelovac_frspojkac {
	-webkit-animation: historie 1s 20s both;
	animation: historie 1s 20s both;
	} 
/* 11.VII.1987 */
 .sr {
	-webkit-animation: historie 1s 22.5s both;
	animation: historie 1s 22.5s both;
	} 
/* 1.XI.1987 */
 .sh1 {
	-webkit-animation: historie 1s 25s both;
	animation: historie 1s 25s both;
	} 
/* 1988 */
 .iiib {
	-webkit-animation: historie 1s 27.5s both;
	animation: historie 1s 27.5s both;
	} 
/* VII.1990 */
 .sk {
	-webkit-animation: historie 1s 30s both;
	animation: historie 1s 30s both;
	} 
/* XII.1990 */
 .iib {
	-webkit-animation: historie 1s 32.5s both;
	animation: historie 1s 32.5s both;
	} 
/* 1993 */
 .ozm {
	-webkit-animation: historie 1s 35s both;
	animation: historie 1s 35s both;
	} 
/* 1994 */
 .depo_zlicin_1, .vb, #pismenob1 {
	-webkit-animation: historie 1s 37.5s both;
	animation: historie 1s 37.5s both;
	} 
/* 1998 */
 .ivb, #pismenob2 {
	-webkit-animation: historie 1s 40s both;
	animation: historie 1s 40s both;
	} 
/* I.1999 */
 .zkusebni_trat_b, #oddelovac_ztb {
	-webkit-animation: historie 1s 42.5s both;
	animation: historie 1s 42.5s both;
	}
/* X.1999 */
 .hl {
	-webkit-animation: historie 1s 45s both;
	animation: historie 1s 45s both;
	} 
/* 2000 */
 .depo_zlicin_2 {
	-webkit-animation: historie 1s 47.5s both;
	animation: historie 1s 47.5s both;
	} 
/* V.2001 */
 .depo_nezavisle_trakce_zlicin_1 {
	-webkit-animation: historie 1s 50s both;
	animation: historie 1s 50s both;
	} 
/* VI.2001 */
 .depo_zlicin_3 {
	-webkit-animation: historie 1s 52.7s both;
	animation: historie 1s 52.7s both;
	} 
/* VII.2001 */
 .kl {
	-webkit-animation: historie 1s 55s both;
	animation: historie 1s 55s both;
	} 
/* 2003 */
 .depo_nezavisle_trakce_zlicin_2 {
	-webkit-animation: historie 1s 57.5s both;
	animation: historie 1s 57.5s both;
	} 
/* 2004 */
 .ivc1 {
	-webkit-animation: historie 1s 60s both;
	animation: historie 1s 60s both;
	} 
/* 2006 */
 .ho {
	-webkit-animation: historie 1s 62.5s both;
	animation: historie 1s 62.5s both;
	} 
/* 2008 */
 .ivc2, #pismenoc2 {
	-webkit-animation: historie 1s 65s both;
	animation: historie 1s 65s both;
	} 
/* 2015 */
 .va {
	-webkit-animation: historie 1s 67.5s both;
	animation: historie 1s 67.5s both;
	}
/* Definice animací */
@keyframes historie {
    from {opacity: 0}    
    to {opacity: 1}
	}
@-webkit-keyframes historie {
    from {opacity: 0}    
	to {opacity: 1}
	}
