svg {
	shape-rendering: geometricPrecision;
	}
path {
	fill: none;
	}
text, tspan, .stanice, .zarazedlo {
	stroke: none;
	}
/* Nastavení tratí globálně */
.trat {
	stroke-width: 1.5px;
	}
.bezproudu {
	stroke-dasharray: 4,2.5;
	}
.legenda, .legenda:hover {
	stroke: black;
	text-decoration: none;
	cursor: auto;
	}
.obratiste, g.ho, .spojka {
	stroke-width: 0.7px;
	}
.most.most, .portal.portal {
	stroke: black;
	stroke-width: 1px;
	stroke-dasharray: none;
	}
.hala {
	stroke-width: 1px;
	}
/*                          TRASA A                     */
.ia, .spojka.a {
	stroke: green;}
.ia.zarazedlo, .ia.stanice, text.ia, .a.pismeno_trasy {
	stroke: none;
	fill: green;
	}
.iia {
	stroke: #84e364;}
.iia.zarazedlo, .iia.stanice, text.iia {
	stroke: none;
	fill: #84e364;
	}
.sh1, .sh1.obratiste {
	stroke: #79a85e;}
.sh1.zarazedlo, .sh1.stanice, text.sh1 {
	stroke: none;
	fill: #79a85e;
	}	
.sh2, .sh_ho, .sh2.obratiste {
	stroke: lime;}
.sh2.zarazedlo, .sh2.stanice, text.sh2 {
	stroke: none;
	fill: lime;
	}	
.sr {
	stroke: #00a884;}
.sr.stanice, text.sr {
	stroke: none;
	fill: #00a884;
	}	
.sk {stroke: #00ff77;
	}
.sk.stanice, text.sk {
	stroke: none;
	fill: #00ff77;
	}	
.ho, .trat.sh_ho.hlavni {
	stroke: #b7ff00;
	}
.zarazedlo.ho, .ho.stanice, text.ho {
	stroke: none;
	fill: #b7ff00;
	}
.va {stroke: #1eff00;
	}
.va.zarazedlo, .va.stanice, text.va {
	stroke: none;
	fill: #1eff00;
	}
.depo_hostivar, .zkusebni_trat_a {
	stroke: #7fe4b0;
	}
.depo_hostivar.zarazedlo, text.depo_hostivar {
	stroke: none;
	fill: #7fe4b0;
	}
.depo_hostivar.hala {
	fill: #e5f9ef;
	stroke: #72ab8e;
	}
.ozm.kolej {
	stroke: #106100;
	}
.ozm.zarazedlo, text.ozm {
	stroke: none;
	fill: #106100;
	}
.ozm.hala{
	stroke: #106100;
	fill: #e5f9ef;
	}
/*                          TRASA B                */
.ib, .spojka.b {
	stroke: orange;
	}
.ib.zarazedlo, .ib.stanice, text.ib, .b.pismeno_trasy {
	stroke: none;
	fill: orange;
	}
.iib {
	stroke: #b58c19;
	}
.iib.zarazedlo, .iib.stanice, text.iib {
	stroke: none;
	fill: #b58c19;
	}
.iiib {
	stroke: #dff900;
	}
.iiib.zarazedlo, .iiib.stanice, text.iiib {
	stroke: none;
	fill: #dff900;
	}
.ivb {
	stroke: #f2ff00;
	}
.ivb.zarazedlo, .ivb.stanice, text.ivb {
	stroke: none;
	fill: #f2ff00;
	}
.vb {
	stroke: #ffcc00;
	}
.vb.zarazedlo, .vb.stanice, text.vb {
	stroke: none;
	fill: #ffcc00;
	}	
.kl {
	stroke: #ccff00;
	}
.kl.stanice, text.kl {
	stroke: none;
	fill: #ccff00;
	}	
.hl {
	stroke: #c9c924;
	}
.hl.stanice, text.hl {
	stroke: none;
	fill: #c9c924;
	}
.depo_zlicin_1 {
	stroke: #ffca7f;
	}
.depo_zlicin_1.hala {
	stroke: #ff9500;
	fill: #fff2e0;
	}
.depo_zlicin_2.hala {
	stroke: #898c24;
	fill: #f3f3e9;
	}
.depo_zlicin_2 {
	stroke: #898c24;
	}
.depo_zlicin_3.hala {
	stroke: #ff5030;
	fill: #ffedea;
	}
.depo_zlicin_3.zarazedlo {
	stroke: none;
	fill: #ff5030;
	}
.depo_zlicin_3 {
	stroke: #ff5030;
	}
.zkusebni_trat_b {
	stroke: #cf6d4a;
	}
.depo_nezavisle_trakce_zlicin_1 {
	stroke: #f05baa;
	}
.depo_nezavisle_trakce_zlicin_1.hala {
	stroke: #f05baa;
	fill: #ffeaf5;
	}
.depo_nezavisle_trakce_zlicin_1.zarazedlo {
	stroke: none;
	fill: #f05baa;
	}
.depo_nezavisle_trakce_zlicin_2 {
	stroke: #d0ed18;
	}
.depo_nezavisle_trakce_zlicin_2.hala {
	stroke: #d0ed18;
	fill: #f8ffcf;
	}
.depo_nezavisle_trakce_zlicin_2.zarazedlo {
	stroke: none;
	fill: #d0ed18;
	}
.zkusebni_trat_b.zarazedlo {
	stroke: none;
	fill: #cf6d4a;
	}
.depo_zlicin_1.zarazedlo, text.depo_zlicin_1 {
	stroke: none;
	fill: #ffca7f;
	}
/*                    TRASA C                */
.ic {
	stroke: red;
	}
.ic.zarazedlo, .ic.stanice, text.ic, .c.pismeno_trasy {
	stroke: none;
	fill: red;
	}
.ic7 {
	stroke: #ff77de;
	}
text.ic7 {
	stroke: none;
	fill: #ff77de;
	}
.iic {
	stroke: #ff006a;
	}
.iic.zarazedlo, .iic.stanice, text.iic {
	stroke: none;
	fill: #ff006a;
	}
.iiic, .spojka.c.iiic {
	stroke: #b00c00;
	}
.iiic.zarazedlo, .iiic.stanice, text.iiic {
	stroke: none;
	fill: #b00c00;
	}
.ivc1 {
	stroke: #ff7300;
	}
.ivc1.zarazedlo, .ivc1.stanice, text.ivc1 {
	stroke: none;
	fill: #ff7300;
	}
.ivc2 {
	stroke: #ff00a2;
	}
.ivc2.zarazedlo, .ivc2.stanice, text.ivc2 {
	stroke: none;
	fill: #ff00a2;
	}
.zkusebni_trat_c, .vlecka_c {
	stroke: #e9967f;
	}
.zkusebni_trat_c.zarazedlo, .vlecka_c.zarazedlo {
	stroke: none;
	fill: #e9967f;
	}
.depo_kacerov {
	stroke: #e9967f;
	}
.depo_kacerov.zarazedlo, text.depo_kacerov{
	stroke: none;
	fill: #e9967f;
	}
.depo_kacerov.hala {
	stroke: #d42e00;
	fill: #faeae5;
	}
/*                   OSTATNÍ                */
text {
	text-anchor: middle;
	fill: black;
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	stroke-width: 0px;
	font-size: 16px;
	}
/* Popisky čísel koleje */
text.popkv, text.popkm.popkm  {
	fill: black;
	stroke: none;
	text-anchor: start;
	font-weight: normal;
	}
text.popkm {
	font-size: 11.2px;
	}
rect.popkv.popkv, rect.popkm.popkm {
	fill: #dcebff;
	stroke-width: 0.25px;
	stroke: #555;
	}
.popkc {
	stroke: black;
	stroke-width: 0.25px;
	}
.zkratka {
	font-size: 80%;
	filter: saturate(0.5) brightness(1.3);
	-webkit-filter: saturate(0.5) brightness(1.3);
	}
text.fr.fr {
	fill:url(#prechod_fr);
	}
text.ms.ms {
	fill:url(#prechod_ms);
	}
text.mu.mu {
	fill:url(#prechod_mu);
	}
.mo, .pe, .de, .nm, .ze, .sr, .sk, .ho, .zl, .nb, .sn, .fr, .ce, .cm, .lt, .la, .nh, .pp, .kc, .ha {
	font-weight: bold;
	}
.tabulka tspan {
	font-weight: normal;
	fill: black;
	cursor: pointer;
	}
.pismeno_trasy {
	font-size: 55px;
	}
#vltava {
	stroke-width: 30px;
	stroke: #0080ff;
	}
#titulek {
	font-size: 100px;
	text-anchor: start;
	font-variant: small-caps;
	}
#podtitul {
	font-size: 25px;
	font-variant: normal;
	text-decoration: overline;
	}
#tiraz {
	text-anchor: start;
	font-size: 10px;
	fill: #666;
	}
.oddelovac {
	stroke: white;
	stroke-width: 8px;
	}
#pozadi {
	fill: white;
	}
