path {
	fill: none;
	}
text, tspan, .stanice {
	stroke: none;
	}
/* nastavení tratí globálně*/
.trat {
	stroke-width: 1.5px;
	}
.obratiste, g.ho, .spojka {
	stroke-width: 0.7px;
	}
g.most, .portal {
	stroke: black !important; 
	stroke-width: 1px;}
.hala {
	stroke-width: 1px;
	}
/*                          TRASA A                     */
.ia, .spojka.a {
	stroke: green;}
.ia.zarazedlo, .ia.stanice, text.ia, .a.pismeno_trasy {
	stroke: none;
	fill: green;
	}
.iia {
	stroke: #84E364;}
.iia.zarazedlo, .iia.stanice, text.iia {
	stroke: none;
	fill: #84E364;
	}
.sh1 {
	stroke: #79A85E;}
.sh1.zarazedlo, .sh1.stanice, text.sh1 {
	stroke: none;
	fill: #79A85E;
	}	
.sh2, .sh_ho {
	stroke: lime;}
.sh2.zarazedlo, .sh2.stanice, text.sh2 {
	stroke: none;
	fill: lime;
	}	
.sr {
	stroke: #00a884;}
.sr.zarazedlo, .sr.stanice, text.sr {
	stroke: none;
	fill: #00a884;
	}	
.sk {stroke: #00FF77;
	}
.sk.stanice, text.sk {
	stroke: none;
	fill: #00FF77;
	}	
.ho, .trat.sh_ho.hlavni {
	stroke: #B7FF00;
	}
.zarazedlo.ho, .ho.stanice, text.ho {
	stroke: none;
	fill: #B7FF00;
	}
.va {stroke: #1EFF00;
	}
.va.zarazedlo, .va.stanice, text.va {
	stroke: none;
	fill: #1EFF00;
	}
.a.depo, .a.zkusebni_trat_a {
	stroke: #7FE4B0;
	}
.a.depo.zarazedlo, #text5316 {
	fill: #7FE4B0;
	}
.a.hala:not(.ozm){
	fill: #E5F9EF;
	stroke: #72AB8E;
	}
.a.ozm.kolej {
	stroke: #106100;
	}
.a.depo.zarazedlo.ozm, text.ozm {
	fill: #106100;
	}
.a.ozm.hala{
	stroke: #106100;
	fill: #E5F9EF;
	}
/*                          TRASA B                */
.ib, .spojka.b {
	stroke: orange;
	}
.ib.zarazedlo, .ib.stanice, text.ib, .b.pismeno_trasy {
	stroke: none;
	fill: orange;
	}
.iib {
	stroke: #B58C19;
	}
.iib.zarazedlo, .iib.stanice, text.iib {
	stroke: none;
	fill: #B58C19;
	}
.iiib {
	stroke: #FAEA6E;
	}
.iiib.zarazedlo, .iiib.stanice, text.iiib {
	stroke: none;
	fill: #FAEA6E;
	}
.ivb {
	stroke: #F2FF00;
	}
.ivb.zarazedlo, .ivb.stanice, text.ivb {
	stroke: none;
	fill: #F2FF00;
	}
.vb {
	stroke: #FFCC00;
	}
.vb.zarazedlo, .vb.stanice, text.vb {
	stroke: none;
	fill: #FFCC00;
	}	
.kl {
	stroke: #CCFF00;
	}
.kl.stanice, text.kl {
	stroke: none;
	fill: #CCFF00;
	}	
.hl {
	stroke: #C9C924;
	}
.hl.stanice, text.hl {
	stroke: none;
	fill: #C9C924;
	}
.b.depo {
	stroke: #FFCA7F;
	}
.b.hala.depo_zlicin_1 {
	stroke: #FF9500;
	fill: #FFF4E5;
	}
.b.hala.depo_zlicin_2 {
	stroke: #898C24;
	fill: #F3F3E9;
	}
.b.hala.depo_zlicin_3 {
	stroke: #FF5030;
	fill: #FFEDEA;
	}
.b.depo {
	stroke: #FFCA7F;
	}
.b.zkusebni_trat_b {
	stroke: #cf6d4a;
	}
.b.zkusebni_trat_b.zarazedlo {
	stroke: none;
	fill: #cf6d4a;
	}
.b.depo.zarazedlo, #text5320 {
	stroke: none;
	fill: #FFCA7F;
	}
.b.hala{
	fill: #FFF4E5;
	}
/*                    TRASA C                */
.ic {
	stroke: red;
	}
.ic.zarazedlo, .ic.stanice, text.ic, .pismeno_trasy {
	stroke: none;
	fill: red;
	}
.trat.ic7 {
	stroke: #ff77de;
	}
text.ic7 {
	stroke: none;
	fill: #ff77de;
	}
.iic {
	stroke: #FF006A;
	}
.iic.zarazedlo, .iic.stanice, text.iic {
	stroke: none;
	fill: #FF006A;
	}
.iiic, .spojka.c {
	stroke: #B00C00;
	}
.iiic.zarazedlo, .iiic.stanice, text.iiic {
	stroke: none;
	fill: #B00C00;
	}
.ivc1 {
	stroke: #FF7300;
	}
.ivc1.zarazedlo, .ivc1.stanice, text.ivc1 {
	stroke: none;
	fill: #FF7300;
	}
.ivc2 {
	stroke: #FF00A2;
	}
.ivc2.zarazedlo, .ivc2.stanice, text.ivc2 {
	stroke: none;
	fill: #FF00A2;
	}
.c.zkusebni_trat_c {
	stroke: #D5081C;
	}
.c.zkusebni_trat_c.zarazedlo {
	stroke: none;
	fill: #D5081C;
	}
.c.depo {
	stroke: #E9967F;
	}
.c.depo.zarazedlo, #text5324{
	fill: #E9967F;
	}
.c.hala {
	stroke: #D42E00;
	fill: #FAEAE5;
	}
/*                   OSTATNÍ                */
text {
	text-anchor: middle;
	fill: black;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	stroke-width: 0px;
	}
.zkratka {
	font-size: 80%;
	filter: brightness(1.3);
	-webkit-filter: brightness(1.3);
	}
tspan.sr, tspan.sk, tspan.ho {
	font-weight: normal;
	}
text.popkv, text.popkm , #text7725, #text7719 {
	fill: black;
	stroke: none;
	text-anchor: start;
	font-weight: normal;
	}
.popkv {
	fill: #DCEBFF;
	stroke-width: 0.25px;
	stroke: black;
	}
text.popkm {
	font-size: 70%;
	}
.popkm , #rect6932, #rect6920 {
	fill: #DCEBFF;
	stroke-width: 0.25px;
	stroke: #555;
	}
.popkc {
	stroke: black;
	stroke-width: 0.25px;
	}
path.depo.zarazedlo
 {stroke: none !important;
	}
.tabulka tspan{
	font-weight: normal;
	fill: black !important;
	cursor: pointer;
	}
.pismeno_trasy{
	font-size: 55px;
	}
.fr {
	fill:url(mapa.html/#prechod_fr) !important;
	}
.ms {
	fill:url(mapa.html/#prechod_ms) !important;
	}
.mu {
	fill:url(mapa.html/#prechod_mu) !important;
	}
.mo, .pe, .de, .nm, .ze, .sr, .sk, .ho, .zl, .nb, .sn, .fr, .ce, .cm, .lt, .la, .nh, .pp, .kc, .ha {
	font-weight: bold;
	}
#vltava {
	stroke-width: 30px;
	stroke: #0080FF;
	}
#vltava2 {
	stroke-width: 40px;
	stroke: white;
	}
#titulek {
	font-size: 100px;
	text-anchor: start;
	font-variant: small-caps;
	}
#podtitul {
	font-size: 25%;
	font-variant: normal;
	text-decoration: overline;
	}
#tiraz {
	text-anchor: start;
	font-size: 10px;
	fill: #666;
	}
.oddelovac {
	stroke: white;
	stroke-width: 8px;
	}
#pozadi {
	fill: white;
	}
